//----------------------------------------------------------------
//- 共通のレイアウトを継承
//----------------------------------------------------------------
extends /pug/layout/_default

//----------------------------------------------------------------
//- ページ毎の変数を追加(メタタグや相対パス、ページ固有データ)
//----------------------------------------------------------------
append variables
  //- 相対パス
  - const relativePath = "../";
  //- ページ固有データ
  -
    const page = "underpage";
    const pageData = data[page];

//----------------------------------------------------------------
//- ページ毎のcssを追加
//----------------------------------------------------------------
append css
  link(rel="stylesheet" href=`${relativePath}css/object/project/${page}/style.css`)

//----------------------------------------------------------------
//- ページ毎のjsを追加
//----------------------------------------------------------------
//- append js
  script(src=`${relativePath}js/***.js` charset="utf-8")

//----------------------------------------------------------------
//- mainコンテンツを記述
//----------------------------------------------------------------
block content
  main
    p 下層ページです
