// .youtube
//   iframe.youtube__inner(
//     width="560" height="315" src=`https://www.youtube.com/embed/xxxxxx` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
//     loading="lazy"
//   )

.youtube {
  position: relative;
  padding-top: 9% / 16 * 100;
}
.youtube__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
