//----------------------------------------------------------------
//- 共通のレイアウトを継承
//----------------------------------------------------------------
extends /pug/layout/_default

//----------------------------------------------------------------
//- ページ毎の変数を追加(メタタグや相対パス、ページ固有データ)
//----------------------------------------------------------------
append variables
  //- 相対パス
  - const relativePath = "./";
  //- ページ固有データ
  -
    const page = "top";
    const pageData = data[page];

//----------------------------------------------------------------
//- ページ毎のcssを追加
//----------------------------------------------------------------
append css
  link(rel="stylesheet" href=`${relativePath}css/object/project/${page}/style.css`)

//----------------------------------------------------------------
//- ページ毎のjsを追加
//----------------------------------------------------------------
//- append js
  script(src=`${relativePath}js/***.js` charset="utf-8")

//----------------------------------------------------------------
//- mainコンテンツを記述
//----------------------------------------------------------------
block content
  main
    section.container__sec
      h1.title
        | スプラトゥーン　ステージ情報
        //- TODO: 現在のステージ情報
      sec.stage
        h2.stage__title
          | レギュラーマッチ
        ul#js-api-regular.stage__lists

      sec.stage
        h2.stage__title
          | バンカラチャレンジ
        ul#js-api-challenge.stage__lists

      sec.stage
        h2.stage__title
          | オープンマッチ
        ul#js-api-open.stage__lists

      sec.stage
        h2.stage__title
          | サーモンラン
        ul#js-api-coop.stage__lists
